@keyframes landingpageanim{
  0%{
    opacity:0;
  }
  60%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}



body{
  padding:0;
  margin:0;
  --maincolor:#004F89;
  
}


body *{
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  outline: none;
}

.App{
  margin:0;
  padding:0;
  height:100vh;
  width:100%;
}

.loginpage{
  height:100vh;
  width:100%;
  margin:0;
  padding: 0;
  background-color: var(--maincolor);  
}

.loginpage{
  text-align: center;
}

.loginpage h1{
  color:white;
  font-weight: 500;
  font-size: 30px;
  padding:0;
  padding-top:60px;
  margin:0;
  animation: landingpageanim 0.2s 0s linear;
  line-height: 30px;
}

.loginpage h1 img{
  width:35px;
  height:35px;
  margin:0;
  padding:0;
}

.loginpage h2{
  color:white;
  font-weight: 400;
  font-size: 23px;
  animation: landingpageanim 0.4s 0s linear;

}

.banner{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width:80%;
  margin:90px auto;
}

.banner img{
  width:50%;
  flex:1;
  margin:0;
  padding:0;
  border-radius: 10px;
  animation: landingpageanim 0.7s 0s linear;
}

.logindiv{
  text-align: center;
  display: flex;
  flex-direction: column;
  flex:1;
  animation: landingpageanim 1s 0s linear;

}

.logindiv h3{
  color:white;
  font-weight: 400;
  font-size:25px;
  margin-bottom: 50px;
}

.logindiv h3 img{
  height:25px;
  width:25px;
  margin-right: 10px;
}

.logindiv form{
  display: flex;
  flex-direction: column;
  width:100%;
}

.logindiv form input, .logindiv form button{
  border:1px solid white;
  width:50%;
  height:40px;
  text-align: center;
  margin:15px auto;
  font-size: 20px;
  border-radius: 200px;
  background-color: transparent;
  color:white;
}

.logindiv input::placeholder{
  color:gainsboro;
}

.logindiv form button{
  background-color: white;
  color:var(--maincolor);
  cursor: pointer;
  border:none;
  height:45px;
  width:35%;
  margin-top: 30px;
}

.logindiv a{
  color:white;
  margin-top: 10px;
}

.main{
  width:100%;
  height:100vh;
  margin:0;
  padding:0;
}

.messaging{
  width:96%;
  height:94vh;
  margin:0;
  padding:3vh 2%;
  background-color: white;
  display: flex;
  flex-direction: row;
}

.messaging .mainmenu{
  background-color: var(--maincolor);
  width:20%;
  text-align: center;
  height:100%;
  margin:0;
  padding: 0;
  border-radius: 15px;
}

.mainmenu h1{
  color:white;
  font-weight: 400;
  padding:0;
  margin:0;
  padding-top: 20px;
  display: inline-block;
  font-size: 27px;
}

.mainmenu h1 img{
  width:35px;
  height:35px;
  margin:0;

}

.mainmenu h3{
  color:white;
  font-weight: 400;
  font-size: 22px;
  padding-top: 10px;
}

.mainmenubtns{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin:50px auto;

}

.mainmenubtns button{
  flex:1;
  height:40px;
  cursor: pointer;
  border:none;
  background-color: transparent;
} 

.mainmenubtns button img{
  height:100%;
}

.contactlist{
  width:90%;
  padding:10px 5%;
  height:64%;
  overflow-y: auto;
}

.contactlist p{
  color:white;
  margin-top: 60px;
}

.contact{
  width:100%;
  display: flex;
  flex-direction: row;
  height:80px;
  background-color: rgb(235, 235, 235);
  margin:20px 0;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  transition: all 0.2s ease-out;
}

.contact .imgdiv{
  height:100%;
  flex:1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.contact .imgdiv img{
  height:60%;
  padding:10px;
  background-color: var(--maincolor);
  border-radius: 200px;
}

.contact p{
  color:var(--maincolor);
  font-size: 22px;
  height:100%;
  padding:0;
  margin:0;
  line-height: 80px;
  flex:0.8;
  text-align: left;
}

.contact:hover{
  cursor: pointer;
  background-color: rgb(220, 220, 220);
}

.messagesdiv{
  width:76%;
  margin:0 auto;
  padding:0;
  height:100%;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  
}

.messagestitle{
  width: 100%;
  height:10%;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid rgb(195, 195, 195);
  justify-content: center;
  align-items: center;
}

.messagestitle h2{
  flex:0.86;
  padding-left: 20px;
  color:var(--maincolor);
  font-weight: 400;
}

.messagestitle button{
  flex:0.07;
  height:100%;
  cursor: pointer;
  background-color: transparent;
  border:none;
}

.messagestitle button img{
  height:60%;
}

.messages{
  width:100%;
  height:80%;
  margin:5px auto;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.messages .empty{
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
}

.messagesinput{
  width:100%;
  height:6%;
  display: flex;
  flex-direction: row;
  margin:1% 0;
  align-items: center;
  justify-content: center;
}

.messagesinput button{
  width:5%;
  border:none;
  background-color: var(--maincolor);
  cursor:pointer;
  border-radius: 10px;
  height:100%;
  margin:0 8px;

}

.messagesinput button img{
  width:60%;
  height:60%;
  padding:0;
  margin:0;
}

.messagesinput input{
  width:90%;
  height:100%;
  margin:0;
  border-radius: 10px;
  outline: none;
  border:1px solid black;
  padding:0 5px;
  font-size: 18px;
}

.messagesdiv .messages .messageitem{
  width:30%;
  margin:30px auto;
  background-color: red;
  padding:10px;
  border-radius: 10px;
}

.messageitem p:first-of-type{
  font-size: 18px;
  font-weight: 400;
}

.messageitem p:last-of-type{
  font-size: 15px;
  text-align: right;
  margin-top: 30px;
  font-weight: 300;
}

.messagesdiv .messages .incoming{
  background-color: gainsboro;
  float:left;
  margin-left: 30px;
}

.messagesdiv .messages .outgoing{
  background-color: var(--maincolor);
  color:white;
  float:right;
  margin-right: 30px;
}

.emptymessagesdiv{
  width:76%;
  margin:0 auto;
  padding:0;
  height:100%;
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
  border:1px solid rgb(190, 190, 190);
}


.emptymessagesdiv .empty{
  margin-top: 50px;
  text-align: center;
  font-size: 20px;
}

.modal{
  top: 0;
  left:0;
  width:100%;
  height:100vh;
  z-index: 100;
  position: absolute;
  background-color: rgba(31, 31, 31, 0.7);
}

.modalcontent{
  margin: 10vh 30%;
  width:40%;
  background-color: white;
  height:70vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px;
  overflow-y: auto;
}

.modalcontent .close{
  width:100%;
  background-color: white;
  height:40px;
  border:none;
  cursor: pointer;
  font-size: 22px;
  margin:0;
  text-align: right;
  padding-right: 20px;
  border-radius: 15px;

}

.modalcontent div{
  width: 100%;
}

.search h1, .settings h1, .contacts h1{
  color:var(--maincolor);
  font-weight: 400;
  font-size: 30px;
}

.search .searchinputdiv{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.search .searchinputdiv input{
  width:50%;
  height:35px;
  font-size: 20px;
  text-align: center;
  border:1px solid var(--maincolor);
  border-radius: 200px 0 0 200px;
  padding:0;
}

.searchinputdiv button{
  height:37px;
  margin:0;
  padding:0 20px;
  font-size: 22px;
  border-radius: 0 200px 200px 0;
  border:none;
  background-color: var(--maincolor);
  color:white;
  cursor: pointer;
}

.search .receivedFriendsRequests{
  margin-top: 60px;
}

.search .receivedfriendsrequest button{
  background-color: var(--maincolor);
  color:white;
}

.call{
  width:100%;
  height:100vh;
  margin:0;
  padding:0;
}

.call p{
  margin:0;
}

.modalcontent .receivedfriendsrequestdiv{
  margin:40px auto;
}

.receivedfriendsrequestdiv h2{
  color:black;
  font-weight: 500;
  margin-bottom: 40px;
  font-size: 22px;
}

.modalcontent .receivedfriendsrequest{
  background-color: gainsboro;
  width:70%;
  margin: 20px auto;
  border-radius: 10px;
  padding:5px 10px;
  display: flex;
  flex-direction: row;
}

.modalcontent .receivedfriendsrequest h2{
  color:black;
  font-weight: 400;
}

.receivedfriendsrequest p{
  flex:1.8;
  text-align: left;
}

.receivedfriendsrequest button{
  flex:0.1;
  margin:0 2px;
  padding:0 10px;
  border:none;
  cursor: pointer;
  color:white;
  border-radius: 5px;
}

.receivedfriendsrequest .acceptfriend{
  background-color: var(--maincolor);
}

.receivedfriendsrequest .rejectfriend{
  background-color: darkred;
}
